<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128189386087-psi62l29i6lirea3ddnri8dq605s89lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128189386087-psi62l29i6lirea3ddnri8dq605s89lo</string>
	<key>API_KEY</key>
	<string>AIzaSyAJW0flVVd6ehwupdYEqGhhKVq0DQ6ospw</string>
	<key>GCM_SENDER_ID</key>
	<string>128189386087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intouch.rox</string>
	<key>PROJECT_ID</key>
	<string>roxapplication-1508165292429</string>
	<key>STORAGE_BUCKET</key>
	<string>roxapplication-1508165292429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128189386087:ios:9fa7d701b2173080</string>
	<key>DATABASE_URL</key>
	<string>https://roxapplication-1508165292429.firebaseio.com</string>
</dict>
</plist>